{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .Id }} </h2>
      <p>Name: {{ .Name }}</p>
      <a href="/edit/{{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}